body {
    background-color: #1b1a1a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    color: white;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    height: 100%;
    margin: 0;
}

fieldset {
    background-color: #1e1d1d;
    border-radius: 10px;
    width: 400px;
    border: 2px solid #4b4b4b;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin: 20px;
}

legend {
    font-weight: bold;
    color: white;
    text-align: center;
}

div {
    margin: 7px;
}
.card-content {
    display: flex;
    gap: 60px;
    align-items: flex-start;
}

.datos {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.perfil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.biografia {
    background-color: #1e1d1d;
    border-radius: 10px;
    border: 2px solid #4b4b4b;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin: 20px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    border: 1px solid;
    height: 3em;
    gap: 20px;
    width: 7em;
    text-align: center;
    font-weight: bold;
    color: #333;
    margin: 0 10px 0 10px, auto;
    justify-content: center;
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4b4b4b;
    box-sizing: border-box;
}
.botones {
    justify-content: center;
    display: flex;
    gap: 20px;
}
.card {
    background-color: #1e1d1d;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #4b4b4b;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin: 20px;
    padding: 10px;
}
.perfil{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}
footer {
    color: #333;
    font-style: italic;
    text-align: center;
    font-size: 15px;
    padding: 10px 0;
    width: 100%;
}
